.list-item {
  display: flex;
  max-width: 500px;
  margin: 0.5rem auto;
  border: 1px solid green;
  box-shadow: 8px 5px 7px black;
  transition: 1s;
  justify-content: center;
}

.list-item:hover {
  background-color: green;
  color: black;
  text-decoration: line-through;
  box-shadow: 12px 7px 9px black;
}

i {
  font-size: 1rem;
  margin: 1rem;
}

i:hover {
  color: green
}
